#container {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #515151;
}

text {
  font: "Roboto-Regular.ttf";
  font-size: 40px;
  color: #e6e6e6;
}

button {
  width: 150px;
  height: 65px;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

button.hover {
  background-color: #404040;
}

button.press {
  background-color: #5A5A5A;
}
